<%= form_for(@user, url: user_path) do |f| %>
  <div class="">
    <%= f.text_field :name, placeholder:"ユーザー名" %>
  </div>
  <div class="">
    <!-- f.text_area :opinion -->
  </div>
  <div class="">
    <%= f.attachment_field :user_image %>
  </div>
  <%= f.submit '変更保存' %>
<% end %>