<div class="search">
  <!-- 検索バー -->
  <%= search_form_for @q do |f| %>
    <!-- f.label :name, "Keyword" %-->
    <%= f.search_field :name_or_opinion_cont, placeholder:"おかし検索"  %>
      <%= button_tag :type => "submit", :class =>"search-btn" do %>
        <i class="fas fa-search"></i>
      <% end %>
  <% end %>
  <%= link_to "検索クリア", sweets_path %>
</div>