<h2>Edit Sweet</h2>
<%= form_for(@sweet, url: sweet_path) do |f| %>
  <div class="">
    <%= f.text_field :name %>
  </div>
  <div class="">
    <%= f.text_area :opinion %>
  </div>
  <%= f.submit '変更保存' %>
<% end %>