/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
* body {
* background-image: image-url("hoge.jpg")
* }
*/

/*拡張言語をscssへ変更*/
/*bootstrapgemに必要*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*font-awesome追加*/
@import "font-awesome-sprockets";
@import "font-awesome";

header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 10%;
}

body {
  background-color: #FFFFCC;
}

.sweet-body {
  padding-top: 8%;
}

.title {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 3%;
}

.index-title {

}

.sweet {
  height: 12%;
  background-color: #FFFF66;
  //image-url("header.jpg")
}

.ul-header {
  list-style: none;
  text-align: right;
}

.header {
  display: inline;
  padding-right: 15px;
}

.img {
  width: 30%;
  height: auto;
}

.search {
  position: absolute;
  padding-top: 3%;
}

.search-btn {
  position: absolute;
  left: 81%;
  margin: 0;
}
