/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
* body {
* background-image: image-url("hoge.jpg")
* }
*/

/*拡張言語をscssへ変更*/
/*bootstrapgemに必要*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*font-awesome追加*/
@import "font-awesome-sprockets";
@import "font-awesome";

header {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 10%;
}

body {
  background-color: #FFFFCC;
}

li {
  list-style: none;
}

hr {
  margin-top: 0%;
  margin-bottom: 0%;
}

.sweet-body {
  padding-top: 0%;
}

.title {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 0%;
}

.sweet {
  //background-color: #FFFF66;
  background-image: url("header.jpg");
}

.sweet-info {
  display: inline;
  padding-left: 3%;
}

.sweet-link {
  padding-top: 6%;
}

.ul-header {
  text-align: right;
}

.header {
  display: inline;
  padding-right: 15px;
}

.img {
  height: auto;
}

.index-img {
  width: 100%;
  height: 100%;
}

.index-line {
  margin-bottom: 6%;
  border-top: 1px solid #000;
}

.search {
  position: absolute;
}

.search-btn {
  position: absolute;
  left: 81%;
  margin: 0;
}

.favorite-ranking {
  padding-left: 5%;
}

.sweets-index {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.show-li {
  padding-left: 20%;
}

.sweet-new-btn {
  padding-left: 70%;
}

.user-photo {
  margin-top: 37%;
}

